*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root{
    --color-white:#fff;
    --color-primary:#000;
    --color-accent:#2ba837;
    
    --ff-primary:'Poppins', sans-serif;
    --font-size: 62.5%;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    
}

@media (max-width:47em) {
    
}

html{
    scroll-behavior: smooth;
}

/* general styling */
body{
    font-family: var(--ff-primary);
    font-size: var(--font-size);
    font-weight: var(--fw-regular);
    color: var(--color-primary);
    overflow-x: hidden;
}

header {
    position: relative;
    height: 100vh;
    color: var(--color-white);
}

section{
    /* height: 80vh; */
    margin-bottom: 4em;
}

.container{
    padding: 2rem;
    max-width: 160em;
    margin-inline: auto;
}

/* utility classes */


/* ///////////// */
/* main styling part */
/* ///////////// */

.sticky{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 14em;
    z-index: 30;
    background-color: rgba(0,0,0,.97);
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
}

.mobile-nav-toogle .sticky-mobile{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 4em !important;
    z-index: 30;
    background-color: rgba(0,0,0,.97);
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
}


/* navigation */
.primary-nav{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
}

.primary-nav__list{
    display: flex;
    list-style: none;
    gap: 2em;
    margin-right: 2em;
    align-items: center;
}

.primary-nav__item a{
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    position: relative;
}

.primary-nav__item a::after,
.footer-item::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    right: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    transition: all .8s;
}

.primary-nav__item a:hover::after,
.footer-item:hover::after{
    border-bottom: 1px solid var(--color-white);
    width: 100%;
    left: 0;
    right: 0;
}

.btn-sign{
    border: none;
    color: inherit;
    font-size: 1.8rem;
    padding: .5em 1em;
    background:none;
    border: 2px solid var(--color-accent);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    max-width: 8em;
    text-align: center;
}

.btn-sign::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2ba837;
    transform: translateX(-100%);
    transition: all 1s;
    z-index: -1;

}

.btn-sign:hover::before{
    transform: translateX(0);
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}

/* header */
.header__content{
    position: relative;
    top: 70%;   
    left: 38%;
    margin-top: auto;
    transform: translate(50%, -50%);
    overflow-x: hidden;
    display: grid;
    grid-template: repeat(4, auto) 1fr/ 1fr;
    max-width: 40%;
    height: 60%;
}

.header__title{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.header__date{
    font-size: 2.4rem;
}

.header__info{
    font-size: 1.5rem;
    margin-bottom: 1em;
}

/* section - about us */
.section__title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1em;
    position: relative;
}

.section__title::after{
    content: "";
    width: 6em;
    position: absolute;
    bottom: -5%;
    left: 50%;
    background-color: #2f9e44;
    height: .1em;
    transform: translateX(-50%);

}

.about-us__content{
    display: flex;
    gap: 3em;
}

.about-us__image{
    max-width: 40%;
    border-radius: 10px;
}
.about-us__text{
    /* text-align: center; */
}

.about-us__text p{
   font-size: 1.1rem;
   margin-bottom: 1.5em;
}

.about-us__subtitle{
    font-size: 1.8rem;
    font-weight: var(--fw-semi-bold);
    margin-bottom: 1em;
}

.partners-heading{
    text-align: center;
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    margin: 1em 0;
    text-transform: uppercase;
}

.partners-logos{
    display: flex;
    gap: 1em;
    max-width: 90%;
    align-self: flex-end;
    margin-bottom: 3em;
}

.partner-logo{
    height: 2.2em;
    filter: brightness(0) invert(1);
}

/* challanges */
.challanges-grid{
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    width: 100%;
    gap: 3rem;
}

.challanges-card{
    padding: 2em;
    font-size: 1rem;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    box-shadow:  0 1px 2px rgba(0,0,0,.07),0 2px 4px rgba(0,0,0,.07),0 4px 8px rgba(0,0,0,.07),0 8px 16px rgba(0,0,0,.07),0 16px 32px rgba(0,0,0,.07),0 32px 64px rgba(0,0,0,.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
}

.challanges-card:hover{
    transform: translateY(-1em);
    cursor: pointer;
}

.challanges-card__icon {
    height: 3em;
    color: #2ba837;
    margin-bottom: 1em;
}

.challanges-card__title {
    font-weight: var(--fw-semi-bold);
    font-size: 1.4rem;
    margin-bottom: 1em;
}
/* agenda */

#agenda{
    max-height: 80vh;
    margin-bottom: 6em;
}

.agenda-content{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.agenda-content-left{
    padding-left: 1em;
}

.first-day__title, .second-day__title{
    font-size: 1.8rem;
    font-weight: var(--fw-regular);
    margin: .5em 0;
}

.first-day__title span, .second-day__title span{
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
}

.first-day__list, .second-day__list {
    margin-left: 1em;
}

.first-day__list li:not(:first-of-type)::before, .second-day__list li:not(:first-of-type)::before{
    content: "";
    display: inline-block;
    border: 1px solid #888;
    background-color: #888;
    border-radius: 50%;
    height: .4em;
    width: .4em;
    position: absolute;
    left: -1%;
    top: 60%;
}

.first-day__list li:not(:first-of-type), .second-day__list li:not(:first-of-type){
    display: block;
    border-left: 2px solid #888;
    font-size: 1.4rem;
    padding-left: 1em;
    padding-top: 1em;
    position: relative;
}

.first-day__list li:first-of-type, .second-day__list li:first-of-type{
    display: block;
    border-left: 2px solid #888;
    font-size: 1.4rem;
    padding-left: 1em;
    position: relative;
}

.first-day__list li:first-of-type::before, .second-day__list li:first-of-type::before{
    content: "";
    display: inline-block;
    border: 1px solid #888;
    background-color: #888;
    border-radius: 50%;
    height: .4em;
    width: .4em;
    position: absolute;
    left: -1%;
    top: 38%;
}

.agenda-gallery {
    margin-top: 6em;
    max-width: 50%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
    "i1 i1 i2 i2"
    "i3 i3 i4 i4";
    align-items: stretch;
    position: relative;
    gap:  2em;
    padding-right: 1em;
    
}

.agenda-gallery__image{
    max-width: 100%;
}

.i1{
    grid-area: i1;
}

.i2{
    grid-area: i2;
}

.i3 {
    grid-area: i3;
}

.i4{
    grid-area: i4;
}


#sign-up{
    margin-bottom: 1em;
}

.sign-up__content{
    display: flex;
    gap: 15em;
}

/* /* form area */
form{
    max-width: 50%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "name email"
    "members members"
    "submit submit";
    column-gap: 3em;
}

.form-block--name{
    grid-area: name;
}

.form-block--email{
    grid-area: email;
} 

.form-block--members{
    grid-area: members;
} 

.btn-submit{
    grid-area: submit;
    max-width: 10em;
    max-height: 3em;
    font-size: 1.6rem;
    position: relative;
    transition: all .5s;
    background: none;
    border: 2px solid #2f9e44;
    color: #2f9e44;
    font-weight: var(--fw-bold);
    overflow: hidden;
    margin-top: 2em;
    cursor: pointer;
}

.btn-submit::before{
    content: "5 places left!";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2ba837;
    color: white;
    transform: translateY(-100%);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit:hover::before{
    transform: translateY(0%);
}


input, textarea{
    width: 100%;
    padding: .5em;
    font: inherit;
    font-size: 1.6rem;
}

textarea{
    resize: none;
}

label{
    display: block;
    font-size: 1.6rem;
}

input, textarea{
    margin-top: .5em;
}

input[type="submit"]{
    margin-top: 1em;
}

.steps__title{
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    padding-bottom: .5em;
}

.steps__list{
    display: block;
    border-left: 2px solid #2f9e44;
    list-style: none;
    margin-left: 1em;
}

.steps__list li {
    font-size: 1.6rem;
    padding: .7em;
    position: relative;
}

.step-1::before{
    content: "1";
    display: inline-flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 1;
    width: 1.5em;
    height: 1.5em;
    background-color: #2f9e44;
    border-radius: 50%;
    position: absolute;
    left: -2.5%;
    top: 34%;
}

.step-2::before{
    content: "2";
    display: inline-flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 1;
    width: 1.5em;
    height: 1.5em;
    background-color: #2f9e44;
    border-radius: 50%;
    position: absolute;
    left: -2.5%;
    top: 34%;
}

.step-3::before{
    content: "3";
    display: inline-flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 1;
    width: 1.5em;
    height: 1.5em;
    background-color: #2f9e44;
    border-radius: 50%;
    position: absolute;
    left: -2.5%;
    top: 34%;
}

.step-4::before{
    content: "4";
    display: inline-flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 1;
    width: 1.5em;
    height: 1.5em;
    background-color: #2f9e44;
    border-radius: 50%;
    position: absolute;
    left: -2.5%;
    top: 34%;
}

/* footer */
footer{
    padding: 2em;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.logo{
    font-weight: var(--fw-bold);
    font-size: 2rem;
    text-transform: uppercase;
}

address, .email-info{
    font-size: 1.4rem;
}

.footer__list{
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    color: #fff;
    gap: 2em;
    margin-right: 2em;
}

.footer__item{
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: all .3s;
}

.mobile-nav-toogle{
    display: none;
}


@media (max-width:81.25em) {
    
    .about-us__content{
        display: block;
        position: relative;
        height: 78vh;
        background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
        overflow: hidden;
        border-radius: 10px;
    }
    .about-us__image{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        max-width: unset;
        width: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .about-us__text{
        /* text-align: center; */
        padding: 3em;
        bottom: -7%;
        position: absolute;
        overflow: hidden;
        color: white;
    }

    

    .agenda-gallery{
        display: none;
    }

    .agenda-content-left{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1rem;
    }

    .sign-up__content{
        flex-direction: column;
        gap: 1em;
        width: 100%;
        align-items: center;
    }

    form{
        max-width: unset;
        width: 100%;
    }
}

@media (max-width: 75em) {
    .footer__list{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }  
}

@media (max-width:70em) {
    #agenda{
        max-height: unset;
    }
    
    .agenda-content-left{
        display: flex;
        justify-content: unset;
        flex-direction: column;
        align-items: center;
    }

    .first-day, .second-day{
       width: 70%;
       margin-inline: auto;
       border: 2px solid #2f9e44;
       display: flex;
       flex-direction: column;
       padding: 2em;
       margin-bottom: 2em;
       
    }

    .steps__list{
        width: 100%;
        margin-left: unset;
    }

    .challanges-grid{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

}

@media (max-width: 50em) {
    
    .container{
        padding: 2.5rem;
    }
    body{
        position: relative;
    }


    .bg-video{
        display: none;
    }

    .primary-nav{
        display: none;
    }

    .primary-nav[data-visible="true"]{
        display: block;
        height: 100vh;
        background-color: #000;
        width: 100vw;
        z-index: 10;
    }

    .primary-nav__list{
        flex-direction: column;
        margin-right: 0;
        margin-top: 3em;
    }

    .primary-nav .btn-sign{
      position: unset;
      display: block;
      margin-inline:auto;
      margin-top: 3em;
    }

    .mobile-nav-toogle{
        display: block;
        position: fixed;
        z-index: 1000;
        right: 1em;
        top: 1em;
        background: transparent;
        background-image: url(..//img/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        width: 1.5rem;
        aspect-ratio: 1;
    }
    

    .mobile-nav-toogle[aria-expanded="true"]{
        background-image: url(../img/icon-close.svg);
    }

    header{
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        height: unset;
        overflow: unset;
        position: unset;
    }

    .header__content{
        position: relative;
        top: unset;   
        left: unset;
        margin-top: 4em;
        transform: unset;
        overflow-x: hidden;
        display: block;
        max-width: unset;
        height: unset;
        text-align: center;
        overflow: unset;
       
    }

    .header__title{
        font-size: 3rem;
    }

    .header__info{
        margin-bottom: 2em;
    }

    .btn-sign{

    }

    .btn-sign::before{
     display: none;
    }

    .header__date{
        font-size: 1.5rem;
    }

    .partners-logos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-inline: auto;
        margin-top: 3em;
    }
    .partner-logo{
        margin-top: 4em;
        height: 2.2em;
        width: 12em;
    }
    
    .first-day, .second-day{
        width: 100%;
    }

    .steps__list{
        width: 100%;
        margin-left: unset;
    }

    
    .step-1::before{
        left: -3.5%;
    }

    .step-2::before{
        left: -3.5%;
    }

    .step-3::before{
        left: -3.5%;
    }

    .step-4::before{
        left: -3.5%;
    }

    .challanges-grid{
        grid-template: repeat(6, 1fr) / 1fr;
        
    }

    .challanges-card{
        max-width: 385px;
        margin-inline: auto;
    }

    .about-us__image{
      display: none;
    }

    .about-us__content{
        height: unset;
        background: linear-gradient(0deg, #286533 100%, #2b812b44 100%);
    }

    .about-us__text{
        position: unset;
       
    }
     
    form{
        grid-template: repeat(4, 1fr) / 1fr;
        grid-template-areas: 
        "name"
        "email"
        "members"
        "submit";
        column-gap: 0;
    }

    .btn-submit{
        margin-top: 2em;
        margin-inline: auto;
        width: 8em;
        height: 4em;
        margin-bottom: 2em;
    }

    input, textarea{
        margin-top: 0;
    }

    .form-block{
        max-height: 13em;
    }

    .steps__list {
        border-left: none;
        text-align: center;
    }

    .steps__list > *{
        margin-top: .5em;
    }

    .step-1::before,
    .step-2::before,
    .step-3::before,
    .step-4::before{
        left: 46%;
        top: -15%;
        width: 32px;
        height: 32px;
    }
      

    .first-day__list li:first-of-type {
        border-left: none;
    }

    .first-day__list li:first-of-type,
    .second-day__list li:first-of-type {
        border-left: none;
    }

    .first-day__list li:not(:first-of-type),
    .second-day__list li:not(:first-of-type){
        display: block;
        border-left: none;
    
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .agenda-content-left{
        padding-left: 0;
    }

    .logo{
        text-align: center;
    }

    .col-1 address, .email-info {
        font-size: .8rem;
        margin-inline: auto;
        text-align: center;
    }

    .col-2{
        margin-inline: auto;
    }

    .footer-nav{
        margin-inline: auto;
    }

    .footer__list{
        display: flex;
        margin-top: 1em;
        flex-direction: column;
        gap: .5em;
        margin-inline: auto;
        align-items: center;
    }

    footer{
        align-items: unset;
    }
  
}


                     




